.nav{
    /* padding: 1920px 4867px; */
    display: inline-flex;
    margin: 0 240px;
    /* justify-content: space-around; */
    
}
.text-color{
    color: #272727;
    font-family:Lato;
    font-size:80px;
    font-style:normal;
    font-weight:800;
    line-height:normal;
    padding-right: 708px;
    

}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size:18px;
    font-style:normal;
    font-weight:400;
    padding-right: 634px;
    line-height: 30px;

}
.btn{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;

}
button 


nav > h3{
    width: 708px;
}
nav > p{
    width: 634px; 
}
nav > button{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px; 
}

/* header related styles */
.header{
    background:#fff;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    

}
.banner-title{
    margin-top: 197px;
    
}
.banner .f1{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}