.nav{
    /* padding: 1920px 4867px; */
    display: inline-flex;
    /* margin: 0 240px; */
    /* justify-content: space-around; */
    
}
.text-color{
    color: #272727;
    font-family:Lato;
    font-size:80px;
    font-style:normal;
    font-weight:800;
    line-height:normal;
    padding-right: 708px;
    

}



/* header related styles */
.header{
    background:#ffe6ee;
    /* background-image: url("../Flower Asset/pngwing 10.png"); */
    background-repeat: no-repeat;
}

.banner{
    padding: 50px 96px 0px 80px;
    /* top, right, bottom, and left) */
    display: flex;
    justify-content: space-between;
    

}
.banner-content{

    width: 634px;
}
.banner-title{
    margin-top: 197px;
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
    
}
.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    /* width: 634px; */
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;

}

.btn{

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    margin-top: 32px;
    
}
.banner .f1{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    
}


/* main section style  */
.Feature{
    background: #FFF;
    margin: 130px 48px 24px 40px;
    /* width: 1920px; */
    /* height: 4867px; */
}
/* feature section style  */
.section-title{
    
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
    /* padding: 130px 48px 24px 40px; */
}
.section-description
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    /* width: 594px; */
  
    font-weight: 400;
    line-height: 30px; 
    
}